{{ asset_add('styles.css', 'defr.field_type.flatpickr::css/flatpickr.css') }}
{{ asset_add('styles.css', 'defr.field_type.flatpickr::css/themes/' ~ field_type.config.theme ~ '.css') }}
{{ asset_add('scripts.js', 'defr.field_type.flatpickr::js/flatpickr.js') }}
{{ asset_add('scripts.js', 'defr.field_type.flatpickr::js/input.js') }}

<div class="input-group">

    {# {{ dd(field_type) }} #}

    <input
        type="text"
        class="form-control"
        name="{{ field_type.input_name }}"
        value="{{ field_type.format() }}"
        placeholder="{{ 'now'|date(field_type.datetime_format) }}"
        data-mode="single"
        data-date-format="{{ field_type.getDatetimeFormat() }}"
        data-alt-format="{{ field_type.config.alt_format }}"
        data-alt-input="{{ field_type.config.alt_input }}"
        data-allow-input="{{ field_type.config.allow_input }}"
        data-enable-time="{{ field_type.getEnableTime() }}"
        data-no-calendar="{{ field_type.getNoCalendar() }}"
        data-shorthand-current-month="{{ field_type.config.shorthand_current_month }}"
        data-time24hr="{{ field_type.config.time24hr }}"
        data-hour-increment="{{ field_type.config.hour_increment }}"
        data-minute-increment="{{ field_type.config.minute_increment }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.required ? 'required' }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}
    >

    {% if field_type.config.mode != 'date' %}
        <span class="input-group-addon">
            {{ field_type.config.timezone }}
        </span>
    {% endif %}

</div>
